/* Estilos para a barra de navegação */
nav {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 30px;
}

nav img {
  width: 60px;  
  height: auto;
}

nav h1 {
  text-align: center;
  color: white;
  margin-left: 10px;  
}

.container {
  text-align: center;
}

h1 {
  text-align: center;
}

h3 {
  text-align: center;
  margin-top: 1%;
  margin-bottom: 2%;
}

h4 {
  margin-top: 5%;
  margin-bottom: 2%;
}

.link_button {
  margin-top: 2%;
  margin-bottom: 2%;
  padding: 0.7rem 3rem;
  border: 2px solid #00bcd4;
  border-radius: 15px;
  color: #00bcd4;
  font-size: 12px;
  font-weight: 600;
  background-color: transparent;
  cursor: pointer;
  transition: all 250ms ease;
}

.link_button:hover {
  transform: scale(1.1);
  color: #ffffff;
  background-color: #00bcd4;
  border-color: #0097a7;
}

.img_movie {
  width: 20%;
  margin: 0 40%;
}

.movie-desc {
  text-align: justify;
}

.descricao {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 30%;
}

.descricao h4 {
  font-size: 24px;
}

.descricao p {
  text-indent: 30px;
}
